<mat-grid-list cols="2" rowheight="3:2" gutterSize="10px">     
  <main [class]="theme">
    <mat-grid-tile >

       <ngx-charts-pie-grid
          [view]="pieview1"
          [scheme]="colorScheme1"
          [results]="votedList1"
          [label]="showLabels1"
          [customColors]="customColors1"
          [designatedTotal]="totalVoters1"
          (select)="onSelect($event)" 
          style="color: white;">
        </ngx-charts-pie-grid>
    </mat-grid-tile>
  </main>

  <main [class]="theme">
          <mat-grid-tile >

             <ngx-charts-pie-grid
              [view]="pieview"
              [scheme]="colorScheme"
              [results]="votedList"
              [label]="showLabels"
              [customColors]="customColors"
              [designatedTotal]="totalVoters"
              (select)="onSelect($event)" 
              style="color: white;">
            </ngx-charts-pie-grid>
          </mat-grid-tile>
  </main>
</mat-grid-list>