<mat-grid-list cols="3" rowheight="2:1" gutterSize="5px">

    <mat-grid-tile >
        <mat-card >
        	<mat-card-title>President</mat-card-title>
        	<form (submit)="test()">
        		<div style="display: inline-block;">
        			<mat-form-field style="width:100%;">
		        		<input  matInput [(ngModel)]="pname1" name="pname1" placeholder="name1">
		        	</mat-form-field>
		        	&nbsp;
		        	<mat-form-field style="width:100%;">
		        		<input matInput [(ngModel)]="plrn1" name="plrn1" placeholder="LRN1">
		        	</mat-form-field>
			    	&nbsp;
			    	<mat-form-field style="width:100%;">
					  <mat-select matInput [(ngModel)]="pparty1" name="pparty1" placeholder="Select Partylist">
					    <mat-option value="democratic">Democratic</mat-option>
					    <mat-option value="progressive">Progressive</mat-option>
					  </mat-select>
					</mat-form-field>
					<br><br>
        		</div>    
	            <button style="display: block; width: 100%; background-color: green; color:white;"type="submit" mat-flat-button  >Submit</button>
        	</form>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile >
        <mat-card >
        	<mat-card-title>Vice President</mat-card-title>
        	<form (submit)="test()">
        		<div style="display: inline-block;">
        			<mat-form-field style="width:100%;">
		        		<input matInput [(ngModel)]="vpname1" name="vpname1" placeholder="name1">
		        	</mat-form-field>
		        	&nbsp;
		        	<mat-form-field style="width:100%;">
		        		<input matInput [(ngModel)]="vplrn1" name="vplrn1" placeholder="LRN1">
		        	</mat-form-field>
			    	&nbsp;
			    	<mat-form-field style="width:100%;">
					  <mat-select [(ngModel)]="vpparty1" name="vpparty1" placeholder="Select Partylist">
					    <mat-option value="democratic">Democratic</mat-option>
					    <mat-option value="progressive">Progressive</mat-option>
					  </mat-select>
					</mat-form-field>
					<br><br>
        		</div>
	            <button style="display: block; width: 100%; background-color: green; color:white;"type="submit" mat-flat-button  >Submit</button>
        	</form>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile >
        <mat-card >
        	<mat-card-title>Secretary</mat-card-title>
        	<form (submit)="test()">
        		<div style="display: inline-block;">
        			<mat-form-field style="width:100%;">
		        		<input  matInput [(ngModel)]="pname1" name="pname1" placeholder="name1">
		        	</mat-form-field>
		        	&nbsp;
		        	<mat-form-field style="width:100%;">
		        		<input matInput [(ngModel)]="plrn1" name="plrn1" placeholder="LRN1">
		        	</mat-form-field>
			    	&nbsp;
			    	<mat-form-field style="width:100%;">
					  <mat-select matInput [(ngModel)]="pparty1" name="pparty1" placeholder="Select Partylist">
					    <mat-option value="democratic">Democratic</mat-option>
					    <mat-option value="progressive">Progressive</mat-option>
					  </mat-select>
					</mat-form-field>
					<br><br>
        		</div>    
	            <button style="display: block; width: 100%; background-color: green; color:white;"type="submit" mat-flat-button  >Submit</button>
        	</form>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile >
        <mat-card >
        	<mat-card-title>Treasurer</mat-card-title>
        	<form (submit)="test()">
        		<div style="display: inline-block;">
        			<mat-form-field style="width:100%;">
		        		<input matInput [(ngModel)]="vpname1" name="vpname1" placeholder="name1">
		        	</mat-form-field>
		        	&nbsp;
		        	<mat-form-field style="width:100%;">
		        		<input matInput [(ngModel)]="vplrn1" name="vplrn1" placeholder="LRN1">
		        	</mat-form-field>
			    	&nbsp;
			    	<mat-form-field style="width:100%;">
					  <mat-select [(ngModel)]="vpparty1" name="vpparty1" placeholder="Select Partylist">
					    <mat-option value="democratic">Democratic</mat-option>
					    <mat-option value="progressive">Progressive</mat-option>
					  </mat-select>
					</mat-form-field>
					<br><br>
        		</div>
	            <button style="display: block; width: 100%; background-color: green; color:white;"type="submit" mat-flat-button  >Submit</button>
        	</form>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile >
        <mat-card >
        	<mat-card-title>Auditor</mat-card-title>
        	<form (submit)="test()">
        		<div style="display: inline-block;">
        			<mat-form-field style="width:100%;">
		        		<input  matInput [(ngModel)]="pname1" name="pname1" placeholder="name1">
		        	</mat-form-field>
		        	&nbsp;
		        	<mat-form-field style="width:100%;">
		        		<input matInput [(ngModel)]="plrn1" name="plrn1" placeholder="LRN1">
		        	</mat-form-field>
			    	&nbsp;
			    	<mat-form-field style="width:100%;">
					  <mat-select matInput [(ngModel)]="pparty1" name="pparty1" placeholder="Select Partylist">
					    <mat-option value="democratic">Democratic</mat-option>
					    <mat-option value="progressive">Progressive</mat-option>
					  </mat-select>
					</mat-form-field>
					<br><br>
        		</div>    
	            <button style="display: block; width: 100%; background-color: green; color:white;"type="submit" mat-flat-button  >Submit</button>
        	</form>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile >
        <mat-card >
        	<mat-card-title>Public Information Officer</mat-card-title>
        	<form (submit)="test()">
        		<div style="display: inline-block;">
        			<mat-form-field style="width:100%;">
		        		<input matInput [(ngModel)]="vpname1" name="vpname1" placeholder="name1">
		        	</mat-form-field>
		        	&nbsp;
		        	<mat-form-field style="width:100%;">
		        		<input matInput [(ngModel)]="vplrn1" name="vplrn1" placeholder="LRN1">
		        	</mat-form-field>
			    	&nbsp;
			    	<mat-form-field style="width:100%;">
					  <mat-select [(ngModel)]="vpparty1" name="vpparty1" placeholder="Select Partylist">
					    <mat-option value="democratic">Democratic</mat-option>
					    <mat-option value="progressive">Progressive</mat-option>
					  </mat-select>
					</mat-form-field>
					<br><br>
        		</div>
	            <button style="display: block; width: 100%; background-color: green; color:white;"type="submit" mat-flat-button  >Submit</button>
        	</form>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile >
        <mat-card >
        	<mat-card-title>Peace Officer</mat-card-title>
        	<form (submit)="test()">
        		<div style="display: inline-block;">
        			<mat-form-field style="width:100%;">
		        		<input  matInput [(ngModel)]="pname1" name="pname1" placeholder="name1">
		        	</mat-form-field>
		        	&nbsp;
		        	<mat-form-field style="width:100%;">
		        		<input matInput [(ngModel)]="plrn1" name="plrn1" placeholder="LRN1">
		        	</mat-form-field>
			    	&nbsp;
			    	<mat-form-field style="width:100%;">
					  <mat-select matInput [(ngModel)]="pparty1" name="pparty1" placeholder="Select Partylist">
					    <mat-option value="democratic">Democratic</mat-option>
					    <mat-option value="progressive">Progressive</mat-option>
					  </mat-select>
					</mat-form-field>
					<br><br>
        		</div>    
	            <button style="display: block; width: 100%; background-color: green; color:white;"type="submit" mat-flat-button  >Submit</button>
        	</form>
        </mat-card>
    </mat-grid-tile>

</mat-grid-list>


